/* ---------------------------------------------------------------------------------------------
RESET
(Based on ‘A Modern CSS Reset’ by Andy Bell: https://dev.to/hankchizljaw/a-modern-css-reset-6p3)
--------------------------------------------------------------------------------------------- */

/* Remove default margin & padding */
* {
  margin: 0;
  padding: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core defaults */
html,
body {
  background-color: #fff;
  height: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images & embeds easier to work with */
img,
iframe,
video {
  display: block;
  margin: 0;
  max-width: 100%;
  width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*  VARIABLES  */

:root {
  --moss-100: #FCFCFC;
  --moss-200: #EAEFEC;
  --moss-300: #B8C4BB;
  --moss-400: #80BD66;
  --moss-500: #557B42;
  --moss-600: #2A3F21;
  --socks-400: #FF7745;
  --socks-500: #F25824;
  --socks-600: #6F2107;
  --panda-100:#FFFFFF;
  --panda-200:#F3F3F3;
  --panda-300:#BFBFBF;
  --panda-400:#999999;
  --panda-500:#666666;
  --panda-600:#333333;
  --color-bg: var(--moss-100);
  --color-font-base: var(--panda-600);
  --color-link: var(--panda-500);
  --space-;
  --trans-base: all 0.2s ease-in-out;
  --max-width: 75rem;
  --padding-base: 2rem;
  --font-serif: "Besley", serif;
  --font-sans: "Inter", sans-serif;
  --font-size-sm: .875rem;
  --font-size-base: 1rem;
  --font-size-med: 1.125rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.625rem;
  --weight-base: 400;
  --weight-med: 500;
  --weight-bold: 600;
  --leading-body: 1.75;
  --leading-med: 1.44;
  --leading-sm: 1.33;
  --leading-xs: 1.2;
  --flow-space: 1.125rem;
}

/* DEFAULTS */

body {
  background-color: var(--color-bg);
  font-family: var(--font-sans);
  color: var(--panda-600);
  height: 100vh;
  font-size: var(--font-size-base);
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-y: scroll;
  /* animation: body-animation 1s; */
}

/* @keyframes body-animation {
  from {
   opacity:0
  }
 } */

/* Container constrains max-width and adds a little padding for small screens */

a {
  color: var(--color-link);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  transition: color .1s ease-in-out;
}

a:hover {
  color: var(--panda-400);
}

p {
  font-family: var(--font-sans);
  line-height: var(--leading-body);
}

h1, 
.heading-800 {
  font-family: var(--font-serif);
  font-size: var(--font-size-xxl);
  line-height: var(--leading-xs);
}

h2, 
.heading-700 {
  font-family: var(--font-serif);
  font-size: var(--font-size-xl);
  line-height: var(--leading-xs);
}

h3, 
.heading-600 {
  font-family: var(--font-serif);
  font-size: var(--font-size-lg);
  line-height: var(--leading-sm);
}

h4, 
.heading-500 {
  font-family: var(--font-serif);
  font-size: var(--font-size-med);
  line-height: var(--leading-med);
}

h4.subhead {
  font-family: var(--font-sans);
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  line-height: var(--leading-body);
  letter-spacing: .5px;
}

em {
  font-family: var(--font-serif);
  font-size: var(--font-size-base);
  font-weight: var(--weight-base);
}

/* UTILITIES */

.container {
  max-width: var(--max-width);
  margin-inline: auto;
	padding-inline: var(--padding-base);
}

.flow > * + * {
  margin-top: var(--flow-space, 1.5rem);
}

.stack {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

.grid {
  display: grid;
  gap: 1.5rem;
}

.grid--sm {
  gap: .5rem;
}

.grid--lg {
  gap: 2.5rem;
}

.section__title {
  font-family: var(--font-serif);
  font-size: var(--font-size-xl);
  font-weight: var(--weight-base);
  line-height: var(--leading-xs);
}