---
import '../styles/global.css';
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>

<style>
a { 
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: var(--panda-600);
    padding: 6px 10px;
    border-radius: 2px;
    transition: var(--trans-base);
  }

a:hover {
    background-color: var(--panda-200);
    color: var(--panda-600);
  }

a.active {
    background-color: var(--panda-200);
  }
</style>