---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/inter/400.css";
import "@fontsource/besley/400-italic.css";
import "@fontsource/besley/500.css";
import "../styles/global.css";
import MainHead from "../components/MainHead.astro";
export interface Props {
  title?: string;
}

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
      <Header />
      <main class="content">
        <slot />
      </main>
      <Footer />

  </body>
</html>

<style>

body {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

</style>

