---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section class="post">
    <div class="post__heading grid container">
      <div class="post__heading--group">
        <h1 class="heading-700 post__heading--title">{frontmatter.title}</h1>
        <a href="/blog">Back to posts</a>
      </div>
      <time>{frontmatter.pubDate.slice(0, 10)}</time>
    </div>
    <div class="container">
      <p class="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente
        quaerat dicta distinctio placeat laboriosam, officia ducimus rerum
        libero, quod aperiam corporis neque. Autem inventore quos ducimus a non,
        assumenda rem facere numquam aliquam tenetur necessitatibus repellendus
        velit! Veniam, iste blanditiis accusantium incidunt esse quia quos
        reiciendis dolor aperiam aspernatur sunt quae magnam iusto nisi eius.
        Tempora quis esse non aperiam quas nulla sed, ullam dicta vitae sit
        nostrum. Cupiditate corrupti illum aliquam iusto suscipit maiores iste
        voluptatum eligendi, corporis vero blanditiis. Consequatur rerum at
        dolore necessitatibus, possimus nisi, culpa cupiditate iste tenetur
        totam temporibus hic quos illum officia natus, voluptates odit optio
        voluptatem reprehenderit soluta. Quam libero quasi sit pariatur
        repellendus dolorum facere. Accusamus eum corporis ab corrupti, quaerat
        earum ex voluptatem consequuntur laboriosam porro culpa esse deserunt.
        Quam laboriosam, facilis quos aut, hic atque numquam molestias impedit
        necessitatibus amet magnam delectus maiores, similique consequuntur illo
        error! Vero, fugiat quia. Aliquid explicabo, laudantium culpa vel
        mollitia voluptatibus natus consectetur soluta similique quam et nostrum
        eveniet numquam sunt. Quaerat exercitationem recusandae neque porro
        incidunt asperiores voluptatum quo est quidem soluta. Enim, eveniet
        repellat voluptatibus magni tempore, ab sequi a qui adipisci vitae iste
        rerum eius dignissimos quos quisquam ratione eaque voluptas aspernatur
        non tempora, optio error? Aliquid voluptas quaerat reprehenderit
        voluptatum adipisci beatae, itaque minus quasi pariatur hic consequuntur
        in eaque inventore nobis vel voluptate.
      </p>
      <slot />
    </div>
  </section>
</BaseLayout>

<style>
  .grid {
    gap: 0.7rem;
  }

  a {
    width: fit-content;
  }

  h1 {
    margin-right: auto;
  }

  .post__heading--group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .post__heading--title {
    max-width: 40rem;
  }

  p {
    color: var(--panda-500);
    margin-bottom: 1rem;
  }

  .post {
    margin: 10vh auto;
  }

  .post {
    animation: body-animation 1s;
  }

  .post__heading {
    margin-bottom: 3rem;
  }

  .post__content {
    max-width: 40rem;
  }

  time {
    color: var(--panda-500);
  }

  /* hr {
      border-width: 1px;
      border-style: solid;
      color: var(--moss-200);
    } */

  .post__content {
    max-width: 40rem;
  }

  @keyframes body-animation {
    from {
      opacity: 0;
    }
  }

  @media (min-width: 930px) {
    .post__heading--group {
      grid-template-columns: 1fr 7rem;
      gap: 2rem;
      align-items: baseline;
    }
  }
</style>
