---
import "@fontsource/inter/400.css";
import "@fontsource/besley/400-italic.css";
import "@fontsource/besley/500.css";
import "../styles/global.css";
---

<section class="hero">
    <div class="container grid">

<h1>Designing digital tools for serious work</h1>
  <p>
    I’m a Product Designer in the insurance & healthcare space, where I’ve been
    working since 2018. I love helping teams make tools that help people do good
    work, and I care about how things look and feel too. While you’re here,
    check out my <a href="/blog">blog</a>, learn about <a href="/work">my work</a> in case studies, or download my CV.
  </p>
</div>
</section>
