---
import "@fontsource/inter/400.css";
import "@fontsource/besley/400-italic.css";
import "@fontsource/besley/500.css";
import "../styles/global.css";
---

<section class="post container grid">
  <div class="post__heading">
    <h1 class="heading-700">Post name</h1>
    <time datetime="2023-03-22">March 3, 2023</time>
  </div>
  <a href="/blog">Back to posts</a>

  <p class="post__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ab natus
    labore vitae blanditiis architecto, obcaecati quidem repellendus veritatis
    doloribus minima atque consequatur ipsum. Illo, quibusdam? Consequuntur
    saepe beatae sapiente aut rerum praesentium sint iusto modi harum atque
    distinctio quis magnam cumque quisquam aspernatur, quasi, esse at earum
    nihil ut, sit ab dicta eligendi! Unde nisi debitis cupiditate quibusdam
    quasi sunt voluptate numquam excepturi eius. Mollitia asperiores accusamus
    temporibus nihil ipsam et veritatis nisi id, sed eius, quos tenetur iure ad!
    Aut, nihil praesentium. Adipisci dicta architecto ex ipsa delectus excepturi
    quos natus laborum laboriosam. Dicta nostrum beatae similique! A alias
    repellendus exercitationem necessitatibus asperiores pariatur earum, tempore
    aperiam rem veritatis odio. Ipsum dolore tenetur iusto quaerat sequi quo a
    numquam voluptatibus molestiae nostrum temporibus minus voluptates
    assumenda, at porro fuga asperiores minima cumque omnis tempore
    necessitatibus possimus excepturi? Ipsa maxime porro voluptatum quidem esse,
    soluta magnam aut amet maiores reprehenderit. Magni, nobis maiores
    repellendus error illum maxime sit expedita necessitatibus quo eum
    architecto recusandae consequuntur aliquid unde molestiae nam accusamus
    dignissimos, impedit iusto saepe non? Voluptate obcaecati dicta distinctio
    ex placeat fugiat, corrupti sunt labore amet hic debitis iste deleniti
    excepturi ea nihil aliquid qui voluptatum numquam ipsum veniam?
  </p>
</section>

<style>

    .post {
        margin: 10vh auto;
    }

  time {
    color: var(--panda-500);
  }

  .post__content {
    max-width: 40rem;
  }
</style>
